<!DOCTYPE html>
<html>

<body>

<h2>Attendance Table</h2>

<table border="1" id="table">

<tr>
<th>Name</th>
<th>Roll</th>
<th>Date</th>
<th>Time</th>
</tr>

</table>

<br>

<a href="/download">Download CSV</a>

<script>

fetch("/get_attendance")
.then(res=>res.json())
.then(data=>{

let table=document.getElementById("table")

data.attendance.forEach(row=>{

let tr=document.createElement("tr")

row.forEach(cell=>{

let td=document.createElement("td")
td.innerText=cell

tr.appendChild(td)

})

table.appendChild(tr)

})

})

</script>

</body>
</html>
