<h2>Mark Attendance</h2>

<input id="name" placeholder="Name">
<input id="roll" placeholder="Roll">

<video id="video" width="400" autoplay></video>

<button onclick="startCamera('video')">Start Camera</button>
<button onclick="mark()">Mark Attendance</button>

<script>

function mark(){

let name=document.getElementById("name").value
let roll=document.getElementById("roll").value

fetch("/mark_attendance",{

method:"POST",
headers:{"Content-Type":"application/json"},

body:JSON.stringify({
name:name,
roll:roll
})

})
.then(res=>res.json())
.then(data=>alert(data.message))

}

</script>