<!DOCTYPE html>
<html>
<head>
    <title>ERP Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="main-container">
    <h1>Face Attendance ERP</h1>

    <a href="/register_page"><button>Register Student</button></a>
    <a href="/attendance_page"><button>Mark Attendance</button></a>
    <a href="/table_page"><button>View Attendance List</button></a>
    <a href="/percentage_page">
    <button>Attendance Percentage</button>
</a>
</div>

</body>
</html>
