<h2>Attendance Percentage</h2>

<table border="1" id="table">

<tr>
<th>Name</th>
<th>Percentage</th>
</tr>

</table>

<script>

fetch("/percentage")
.then(res=>res.json())
.then(data=>{

let table=document.getElementById("table")

data.percentage.forEach(row=>{

let tr=document.createElement("tr")

let name=document.createElement("td")
name.innerText=row[0]

let per=document.createElement("td")
per.innerText=row[1]+"%"

tr.appendChild(name)
tr.appendChild(per)

table.appendChild(tr)

})

})

</script>