<!DOCTYPE html>
<html>
<head>
    <title>Register Student</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="main-container">
    <h2>Register Student</h2>

    <input type="text" id="name" placeholder="Enter Name">
    <input type="text" id="roll" placeholder="Enter Roll Number">
    <button onclick="registerUser()">Register</button>

    <p id="status" class="status"></p>

    <br>
    <a href="/"><button>Back to Home</button></a>
</div>

<script>
function registerUser() {

    let name = document.getElementById("name").value;
    let roll = document.getElementById("roll").value;
    let status = document.getElementById("status");

    status.innerText = "Opening Camera...";
    status.className = "status yellow";

    fetch(`/register_user?name=${name}&roll=${roll}`)
    .then(res => res.json())
    .then(data => {
        status.innerText = data.message;
        status.className = "status green";
    })
    .catch(err => {
        status.innerText = "Error!";
        status.className = "status red";
    });
}
</script>

</body>
</html>