<h2>Register Student</h2>

<input id="name" placeholder="Name">
<input id="roll" placeholder="Roll">

<video id="video" width="400" autoplay></video>

<button onclick="startCamera('video')">Start Camera</button>
<button onclick="register()">Register</button>

<canvas id="canvas" width="400" height="300" style="display:none"></canvas>

<script>

function register(){

let canvas=document.getElementById("canvas")
let ctx=canvas.getContext("2d")

let video=document.getElementById("video")

ctx.drawImage(video,0,0,400,300)

let image=canvas.toDataURL("image/png")

let name=document.getElementById("name").value
let roll=document.getElementById("roll").value

fetch("/register_user",{

method:"POST",
headers:{"Content-Type":"application/json"},

body:JSON.stringify({
name:name,
roll:roll,
image:image
})

})
.then(res=>res.json())
.then(data=>alert(data.message))

}

</script>